<!DOCTYPE html>
<html lang="en" ng-app="api-designer">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>API designer</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <div class="container" ng-controller="DesignerController">
    <div class="row">
      <p>
        <textarea ng-model="apiJSON" class="form-control" rows="3"></textarea>
      </p>
    </div>

    <div class="row">
      <h1 class="page-header">{{{ api.hostname }}} API</h1>
    </div>

    <div class="row">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Method</th>
            <th>Path</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, route) in api.routes">
            <td ng-click="showRoute(key)">{{{ route.method }}}</td>
            <td ng-click="showRoute(key)">{{{ route.path }}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row" ng-show="route">

      <!-- Show action -->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-show="route.action">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading-action">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-action" aria-expanded="true" aria-controls="collapse-action">
                {{{ route.action.name }}}
              </a>
            </h4>
          </div>
          <div id="collapse-action" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-action">
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Argument name</th>
                    <th>Argument value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in route.action.args" class="table-hover">
                    <td>{{{ key }}}</td>
                    <td>{{{ value }}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      <!-- Show sequence -->
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="(key, action) in route.sequence">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="heading-{{{ key }}}">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{{ key }}}" aria-expanded="true" aria-controls="collapse-{{{ key }}}">
                {{{ key + 1 }}}. {{{ action.Name }}}
              </a>
            </h4>
          </div>
          <div id="collapse-{{{ key }}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{{ key }}}">
            <div class="panel-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Argument name</th>
                    <th>Argument value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(key, value) in action.Args" class="table-hover">
                    <td>{{{ key }}}</td>
                    <td>{{{ value }}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script>
    angular.module('api-designer', [])
    .config(function($interpolateProvider) {
      $interpolateProvider.startSymbol('{{{');
      $interpolateProvider.endSymbol('}}}');
    })
    .controller('DesignerController', ['$scope', function($scope) {
      $scope.api = {
        "hostname": "myapi.com",
        "routes": [{
          "path": "/",
          "method": "GET",
          "action": {
            "name": "hello.world"
          }
        }, {
          "path": "/movie",
          "method": "GET",
          "sequence": [{
            "Name": "http.request",
            "Args": {
              "URL": "http://www.filmweb.pl/Pulp.Fiction"
            }
          }, {
            "Name": "html.extract",
            "Args": {
              "Selectors": {
                "Title": "//h1/a/text()",
                "Image": "//div[@class='posterLightbox']/a/img/@src",
                "Description": "//p[@class='text']/text()"
              }
            }
          }],
          "response": {
            "default": {
              "content-type": "application/json",
              "post-processor": {
                "name": "json.serialize"
              }
            },
            "accept": {
              "text/html": {
                "content-type": "text/html; charset=UTF-8",
                "post-processor": {
                  "name": "html.render",
                  "args": {
                    "Template": "<h1>{{.Title}}</h1> <img src=\"{{.Image}}\"> <p>{{.Description}}</p>"
                  }
                }
              }
            }
          }
        }]
      };
      $scope.apiJSON = JSON.stringify($scope.api, "", "  ");

      $scope.showRoute = function(key) {
        $scope.route = $scope.api.routes[key];
      }

      $scope.$watch('apiJSON', function(value) {
        $scope.api = JSON.parse(value);
      })
    }])
  </script>
</body>
</html>
